dnspython==2.2.0
docker==5.0.3
Flask==2.0.2
fritzconnection==1.9.1
influxdb-client==1.25.0
Jinja2==3.0.3
kostalplenticore==0.3
netifaces==0.11.0
nut2==2.1.1
paramiko==2.9.2
prometheus-client==0.13.1
psutil==5.9.0
python-dotenv==0.19.2
requests==2.27.1
# https://stackoverflow.com/questions/77213053
Werkzeug==2.2.2
wheel==0.37.1
